body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #0ff;
}

header {
    background-color: #111;
    padding: 1rem;
    text-align: center;
    border-bottom: 1px solid #0ff;
}

footer {
    background-color: grey;
    padding: 2rem;
    text-align: center;
    color: black;
}

.drawer {
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: -250px;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.3s;
    z-index: 1000;
}

.drawer-content {
    padding: 1rem;
}

.drawer .logo {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
    color: #0ff;
}

.drawer nav ul {
    list-style-type: none;
    padding: 0;
}

.drawer nav ul li {
    margin: 1rem 0;
}

.drawer nav ul li a {
    color: #0ff;
    text-decoration: none;
}

.drawer nav ul li a:hover {
    text-decoration: underline;
}

.menu-toggle {
    font-size: 1.5rem;
    position: fixed;
    top: 10px;
    left: 10px;
    cursor: pointer;
    background: none;
    border: none;
    color: #0ff;
    z-index: 1001;
}

.content {
    padding: 2rem;
    transition: margin-left 0.3s;
}

.content header {
    margin-bottom: 2rem;
}

main section {
    margin-bottom: 2rem;
}

h1 {
    color: #0ff;
}

.container {
    text-align: center;
    padding: 20px;
    background-color: #111;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.5);
    margin: 100px auto;
    width: 80%;
    max-width: 600px;
}

.contact {
    margin-top: 20px;
    color: #777;
}

.date {
    margin-top: 10px;
    color: #555;
}

a {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: #0ff;
}
